/* Login.css */

/* Full background image */
.login-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.login-background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* Top-center logo */
.top-center-logo {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-align: center;
}
